/* ************************ SOCIAL BUTTONS ************************* */

div.social-buttons-container {
  display: flex;
  height: 200px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

div.social-buttons-box {
  width: 60%;
  font-size: 2rem;

}

div.social-buttons-box ul {
  display: flex;
  justify-content: center;
  list-style: none;
  text-decoration: none;
  color: white;
}

div.social-buttons-box ul li:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3f5ca0;
  width: 30%;
}

div.social-buttons-box ul li:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DD2A7B;
  width: 30%;
}

li img {
  height: 80px;
}

div.social-buttons-box ul li a {
  display: flex;
  align-items: center;
}

div.social-buttons-box ul li a:link {
  text-decoration: none;
}

div.social-buttons-box ul li a:visited {
  text-decoration: none;
}

.facebook-icon {
  margin-right: 20px;
} 
.instagram-icon {
  margin-left: 20px;
}

/* ********************* BOTTOM FOOTER ******************************** */

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 250px;
  /* background: linear-gradient(90deg, rgba(0,229,255,1) 0%, rgba(221,42,123,1) 50%, rgba(21,255,0,1) 100%); */
  box-shadow: 1px -2px 10px 1px rgba(0,0,0,0.3);
  background-color: rgb(45, 45, 45);
}

div.style-container {
  /* border-top-left-radius: 50%;
  border-top-right-radius: 50%; */
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px;
  /* background: linear-gradient(180deg, transparent -100%, rgba(255,255,255,1) 50%  transparent 200% ); */
 
}

div.footer-detail-container {
  display: flex;
  width: 50vw;
  flex-wrap: wrap;
  flex-grow: 0;
  font-family: 'Mulish';
  font-weight: 200;
  color: rgb(165, 165, 165);

}

div.footer-contact-details {
  flex-basis: 50%;
  padding: 10px;
}

div.footer-contact-details p {
  display: flex;
  align-items: center;
  transition: .3s;

}

div.footer-contact-details img {
  display: block;
  height: 50px;
  margin-top: 10px;
}

div.footer-navigation {
  flex-grow: 1;
}


.footer-icon {
  font-size: 25px;
  color: rgb(75, 75, 75);
  transition: .3s;
  margin: 5px 10px;
}
div.footer-contact-details p:hover > .footer-mobile {
  color: var(--green);
}
div.footer-contact-details p:hover > .footer-mail {
  color: var(--blue);
}
.footer-mobile:hover {
  color: var(--green);
}
.footer-mail:hover {
  color: var(--blue);
}
.footer-face:hover {
  color: #3f5ca0;
}
.footer-insta:hover { 
  color: #DD2A7B;
}


.footer-nav { 
  margin: 25px;
  font-size: 0.9rem;
}
.footer-nav ul {
  padding: 5px;
}
.footer-nav ul li {
  padding: 2px;
  position: relative;
  transition: .2s;
}
li.nav-li-active::before, .footer-nav ul li:hover::before {
  content: '';
  display: block;
  position: absolute;
  left: -10px;
  height: 18px;
  width: 5px;
  background-color: var(--blue);
}
.footer-nav ul li:hover::before {
  width: 2px;
}
li.nav-li-active {
  color: var(--blue);
  font-weight: 800;
  text-decoration: underline var(--blue);
}
.footer-nav ul li:hover {
  color: var(--blue);
  text-decoration: underline var(--blue);
  cursor: pointer;
}


div.copyright-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20px;
  font-size: 0.8rem;
}
div.copyright-container a:hover {
  color: rgb(235, 235, 235);
  /* text-decoration: underline red; */
}





/* ***************** */

@media (max-width: 1250px) {
  div.footer-detail-container {
    width: 80vw;
  }
}

@media (max-width: 1025px) {
  div.footer-navigation {
    display: flex;
    justify-content: center;
  }
  /* social color buttons */
  div.social-buttons-box {
    width: 80%;
  }
  div.social-buttons-box ul li:nth-child(1) {
    width: 50%;
  }
  div.social-buttons-box ul li:nth-child(2) {
    width: 50%;
  }
  li img {
    height: 70px;
  }
  .facebook-icon, .instagram-icon {
    font-size: 1.7rem;
  } 
  div.social-buttons-container {
    height: 160px;
  }
}
@media (max-width: 625px) {

  div.footer-detail-container {
    width: 100vw;
    height: 150px;
  }
  div.footer-contact-details img {
    display: block;
    height: 50px;
    margin-top: 10px;
  }
  div.social-container {
    position: absolute;
    left: -100%;
  }
  footer {
    height: 235px;
  }

  /* social color buttons */
  div.social-buttons-box {
    width: 90%;
  }
  li img {
    height: 60px;
  }
  div.social-buttons-container {
    height: 140px;
  }
}

@media (max-width: 480px) {
  div.footer-navigation {
    position: absolute;
    left: -100%
  }
  div.footer-detail-container {
    justify-content: center;
  }
  div.footer-contact-details img {
    height: 40px;
  }
  div.copyright-container {
    width: 70%;
    text-align: center;
  }
  footer {
    height: 205px;
  }


  /* social color buttons */
  div.social-buttons-box {
    width: 90%;
  }
  li img {
    height: 50px;
  }
  .facebook-icon, .instagram-icon {
    font-size: 1.5rem;
  } 
  div.social-buttons-container {
    height: 120px;
  }
  
}