div.contactform-inputs-container {
  display: flex;
}

textarea.form-input {
  width: 100%;
  resize: none;
}

div.contactform-textarea-container {
  display: grid;
  grid-template-columns: 100px 1fr;
}
div.contactform-textarea-container label {
  display: block;
  text-align: right;
  padding: 10px 15px;
  width: 100px;
}

div.contactform-button-container {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}