div.contactpage-container {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

div.controling-buttons-container {
  background: linear-gradient(to top, var(--darker-green) 50%, rgb(255, 255, 255) 50%);
  border-bottom: 1px solid var(--darker-green);

  
}

div.forms-controler-container {
  border: 2px solid var(--darker-green);
  border-top: none;
  width: 50vw;
  border-radius: 0 0px 55px 55px;
  min-height: 50%;

}

div.controling-buttons-container{
  display: flex;

}

div.first-option-div, div.second-option-div, div.first-option-div-reverse, div.second-option-div-reverse {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 50%;
  color: #b9b8b8;
  outline: 0;
}

div.first-option-div:focus {
  border: none;
}

.form-title {
  font-size: 1.3rem;
}

div.first-option-div {
  border-radius: 0 0px 55px 0;
  background-color: rgb(255, 255, 255);

}

div.first-option-div-reverse {
  border-radius: 0 55px 0 0;
  background-color: var(--darker-green);
  color: white;
}

div.second-option-div{
  border-radius: 55px 0 0 0;
  color: white;
  background-color: var(--darker-green)

}
div.second-option-div-reverse {
  border-radius: 0 0px 0 55px;
  background-color: rgb(255, 255, 255);
}

/* div.first-option-div-reverse h3.form-title {
  zwiększenie tytułu przy aktywacji?
} */

/* ***************************************   FORM CONTAINER   ********************************** */
