* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}


/* ************************ HEADER ****************************** */


header nav.navSocial ul.ulSocial li {
  text-align: center;
  flex-grow: 1;
}
header nav.navSocial ul.ulSocial li a {
  color: #d9d9d9;
  text-decoration: none;
  transition: .3s;
}
header nav.navSocial ul.ulSocial li a:hover {
  color: rgb(87, 87, 87);
  cursor: pointer;
}


/* ************************************************************************************************** */
/* ******************************************** BODY OFFER ****************************************** */

.offer {
  background-image: url("img/background-full.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 40%;
  width: 100%;
  height: 80vh;
  opacity: 1;
}

.shape {
  left: 0;
  animation: triangleShape .8s ease-in 1;
  animation-fill-mode: forwards;
  animation-delay: .2s;
  background-image: linear-gradient(to right, #2bff00 50%, #7dff56 100%);
  opacity: 0.80;
  clip-path: polygon(0 0, 40% 0, 100% 50%, 50% 100%, 0 100%);
  transform: translateX(-100%);
  z-index: 0;
}

.shape2 {
  right: 0;
  animation: triangleShape2 .8s ease-in 1;
  animation-fill-mode: forwards;
  animation-delay: .2s;
  background-image: linear-gradient(to left, #00c8ff 50%, #75e1ff 100%);
  opacity: 0.82;
  clip-path: polygon(100% 0, 60% 0, 0 50%, 50% 100%, 100% 100%);
  transform: translateX(+100%);
  z-index: 0;

}

.shape:hover {
  background-image: #2bff00;
  opacity: .95;
  left: 20px;
  z-index: 2;
}
.shape2:hover {
  background-image: #00c8ff;
  opacity: .95;
  right: 20px;
  z-index: 1;
}
.contentshape h1 {

  font-size: 55px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
  animation: appear 2.2s linear;

}
.contentshape p {
  text-transform: uppercase;
  font-size: 22px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  text-shadow: 1px 2px 15px black;
  animation: appear 2.2s linear;

}
.contentshape {
  position: absolute;
  height: 80vh;
  width: 100%;
  top: 0;

}


@keyframes triangleShape {
  0% {transform: translateX(-100%);}
  75% {transform: translateX(0%);}
  100% {transform: translateX(-10%);}
}

@keyframes triangleShape2 {
  0% {transform: translateX(+100%);}
  75% {transform: translateX(0%);}
  100% {transform: translateX(10%);}
}

@keyframes appear {
  0% {opacity: 0;}
  40% {opacity: 0;}
  100% {opacity: 1;}
}


/* ******************************** */

section.presentation {
  background-color: rgb(243, 243, 243);
  min-height: 100vh;
  width: 100%;
}

div.presentationContainer {
  width: 100%;
  background-color: white;
  padding: 60px 60px 60px 60px;
  margin: 0px auto;
  box-shadow: 0px 0px 10px 1px rgba(166,166,166,1);
}

div.presentationContainer h1 {
  font-size: 3.5rem;
  font-family: 'Mulish', sans-serif;
  text-align: center;
  padding-bottom: 60px;
}
div.presentationStep {
  display: flex;
  width: 100%;
  /* background-image: linear-gradient(90deg, rgba(255,255,255,1) 17%, rgba(150,232,255,1) 46%, rgba(0,199,255,1) 100%); */
  border-radius: 20px;

}

div.imgContainerLeft {
  min-height: 200px;
  min-width: 30%;
  margin-top: 15px;
  margin-left: 15px;
  background-image: url("components/img/board.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 50%;
  /* border: 2px solid red; */
  /* background-color: #fff; */
}

div.textContainerLeft {
  /* border: 2px red solid; */
  font-family: 'Mulish', sans-serif;
  flex-grow: 1;
}
div.textContainerLeft h2 {
  padding: 25px 10px 15px;
  font-size: 1.9rem;
  color: #4F5152;
  text-align: center;
}
div.textContainerLeft p {
  margin-left: 10%;
  padding: 10px 10px;
  font-size: 1.2rem;
  color: #265218;
}