:root {
  --green: #15ff00;
  --blue: #00e5ff;
  --p-color: #bfbfbf;
  --button-color: #ff7b00;
  --darker-green: #9FD754;
  --bgc-black: #2A2A2A;
}

div.main {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url("bg-main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 10%;
  color: white;
  font-family: 'Mulish';
  align-items: flex-end;
  justify-content: center;
}

div.mainContainer {
  position: absolute;
  height: 450px;
  width: 720px;
  text-align: center;
  margin-bottom: 20px;
}

div.mainContainer h2.title-trener {
  letter-spacing: 4px;
}

div.mainContainer h1.title-name {
  color: var(--darker-green);
}

div.mainContainer span.title-text {
  font-weight: 400;
  font-size: 1.6rem;
}

div.action-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  margin-bottom: 50px;
  padding: 30px;
  width: 100%;
  background-color: var(--bgc-black);
}

h2.action-call {
  color: var(--darker-green);
  margin-bottom: 5px;
}

span.action-call-text {
  font-weight: 200;
  font-size: 1.4rem;
  margin-bottom: 20px;
}

/* button.button-action {

} */



div.mainContainer h1 {
  text-transform: uppercase;
  margin: 30px auto;
  font-size: 4em;
  line-height: 1em;
  font-weight: 800;
}

div.mainContainer p {
  font-size: 1.1em;
  font-weight: 400;
  margin: 0 50px;
  color: var(--p-color);
}

div.mainContainer button {
  padding: 0.6em 1.3em;
  color: white;
  font-family: 'Mulish';
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1.8em;
  margin-top: 1.3em;
  cursor: pointer;
  background-color: var(--button-color);
  border: 2px solid var(--button-color);
  border-radius: 5px;
}

@media (max-width: 1500px) {
  div.mainContainer {
    height: 350px;
    width: 620px;
    top: 30%;
    left: 50%;
  }
  div.mainContainer h1 {
    text-transform: uppercase;
    margin: 25px auto;
    font-size: 3.5em;
    line-height: 1em;
    font-weight: 800;
  }
  div.mainContainer p {
    font-size: 1em;
    font-weight: 400;
    margin: 0 40px;
    color: var(--p-color);
  }
  div.mainContainer button {
    padding: 0.4em 1.1em;
    font-size: 1.4em;
    margin-top: 1.0em;
  }
}

@media (max-width: 1300px) {
  div.mainContainer {
    height: 300px;
    width: 520px;
    top: 30%;
    left: 45%;
  }
  div.mainContainer h1 {
    text-transform: uppercase;
    margin: 20px auto;
    font-size: 3em;
    line-height: 1em;
    font-weight: 800;
  }
  div.mainContainer p {
    font-size: 0.9em;
    font-weight: 400;
    margin: 0 40px;
    color: var(--p-color);
  }
  div.mainContainer button {
    padding: 0.4em 1.1em;
    font-size: 1.4em;
    margin-top: 1.0em;
  }
}

@media (max-width: 1023px) {
  div.main {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 10%;
  }
}
@media (max-width: 960px) {
  div.mainContainer {
    height: 350px;
    width: 400px;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
  }
  div.mainContainer button {
    padding: 0.4em 0.9em;
    font-size: 1.4em;
    margin-top: 1.0em;
  }
}

@media (max-width: 460px) {
  div.mainContainer {
    top: 50%;
    height: 150px;
    width: 100%;
    transform: translateX(-50%);
    /* margin: 0 0; */
  }

  div.main {
    background-position: 20% 100%;
  }
  div.mainContainer h1 {
    font-size: 2em;
  }
  div.mainContainer p {
    font-size: 0.8em;
    margin: 0 20px;
  }
  div.mainContainer button {
    padding: 0.4em 0.7em;
    font-size: 1.0em;
    margin-top: 2.0em;
  }

  div.mainContainer h2.title-trener {
    font-size: 1rem;
  }
  
  div.mainContainer h1.title-name {
    font-size: 1.8rem;
  }
  
  div.mainContainer span.title-text {
    font-size: 1rem;
    /* margin-bottom: 5px; */
  }
  
  div.action-container {
    height: 175px;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
  }
  
  h2.action-call {
    font-size: 1.3rem;
  }
  
  span.action-call-text {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  

}