div.headingContainer div.metamorphContainer {
  position: relative;
  height: 450px;
  width: 40vw;
  display: grid;
  grid-template-columns: 30% 30% 40%;
  grid-template-rows: 100px 200px 150px;
  grid-template-areas: 
  "before-img after-img name"
  "before-img after-img stats"
  "description description description";
  margin: 0 0 0 5vw;
  box-shadow: 1px 0px 12px 2px rgba(118,124,125,1);
}
div.metamorph-singlestat-container {
  display: flex;
  align-items: center;
  padding: 10px 20px;

}

div.before-sign, div.after-sign {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 60%;
  bottom: -15px;
  color: white;
}

div.before-sign {
  background-color: red;
  clip-path: polygon(25% 0, 100% 0, 100% 100%, 25% 100%, 0 50%);
  right: 0;
}

div.after-sign {
  background-color: rgb(86, 235, 74);
  clip-path: polygon(75% 0, 0 0, 0 100%, 75% 100%, 100% 50%);
}

div.before-sign h2, div.after-sign h2 {
  font-size: 1.3rem;
  display: block;
  position: absolute;
}
div.before-sign h2 {
  right: 10px;
}
div.after-sign h2 {
  left: 25px;
}


h2.metamorph-name {
  text-align: center;
  font-size: 1.6rem;
  padding: 20px;
  border-bottom: 2px solid rgb(0, 237, 255);
  margin-bottom: 20px;
}

h2.metamorph-stat {
  font-size: 1.1rem;
  padding-left: 20px
}

span.metamorph-trening-stat {
  display: block;
  font-size: 0.8rem;
  width: 100%;
  padding: 0px 20px;
}

span.metamorph-description1 {
  font-size: 1.5rem;
  font-weight: 800;
}
span.metamorph-description2 {
  font-size: 1.8rem;
  font-weight: 800;
  color: rgb(0, 237, 255);
}
.metamorph-staticon {
  font-size: 2rem;
}

/* children of main grid */

div.beforeContainer, div.afterContainer {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


div.metamorphContainer div.morphStats {
  background-color: rgb(56, 56, 56);
  color: white;
}

div.metamorphContainer div.descriptionContainer {
  background-color: rgb(235, 235, 235);
  grid-column: 1/4;
}

div.descriptionContainer div {
  height: 80%;
  width: 90%;
  margin: auto;
  margin-top: 25px
}

div.descriptionContainer div p {
  margin-top: 8px;
}



div.metamorph-name-container {
  grid-area: name;
}
div.beforeContainer{
  grid-area: before-img;
}
div.afterContainer {
  grid-area: after-img;
}
div.staticon-container {
  grid-area: stats;
}
div.descriptionContainer{
  grid-area: description;
}


@media (max-width: 1600px) {
  div.headingContainer div.metamorphContainer {
    position: relative;
    height: 420px;
    width: 40vw;
    display: grid;
    grid-template-columns: 30% 30% 40%;
    grid-template-rows: 80px 170px 170px;
    grid-template-areas: 
    "before-img after-img name"
    "before-img after-img stats"
    "description description description";
    margin: 0px 0px 0px 5vw;
    box-shadow: 1px 0px 12px 2px rgba(118,124,125,1);
  }
}

@media (max-width: 1025px) {
  div.headingContainer div.metamorphContainer {
    width: 600px;
    height: 575px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 75px 250px 100px 150px;
    grid-template-areas: 
    "name name"
    "before-img after-img"
    "stats stats"
    "description description";
    background-color: rgb(56, 56, 56);
    margin: 0 auto;

  }

  div.staticon-container {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: flex-end;
    grid-template-rows: 50px 50px;
    width: 100%;
    height: 100%;
    color: #ffffff
  }
  div.whole-grid-col {
    display: flex;
    justify-content: center;
    grid-column: 1/3;
  }
  div.metamorph-singlestat-container{
    display: flex;
    justify-content: center;
  }
  div.before-sign h2, div.after-sign h2 {
    font-size: 1.1rem;
  }
  div.before-sign, div.after-sign {
    height: 40px;
    width: 35%;
    bottom: -10px;
  }

  div.morphStats {
    width: 100%;
  }
}

@media (max-width: 625px) {
  div.headingContainer div.metamorphContainer {
    width: 90vw;
    height: 575px;
    grid-template-rows: 75px 200px 100px 200px;
  }

}

@media (max-width: 480px) {

  div.before-sign h2, div.after-sign h2 {
    font-size: 1.0rem;
  }

  div.before-sign, div.after-sign {
    height: 33px;
    width: 50%;
    bottom: -5px;
  }
  span.metamorph-description1 {
    font-size: 1.2rem;
  }
  span.metamorph-description2 {
    font-size: 1.5rem;
  }
  div.descriptionContainer div p {
    font-size: 0.9rem;
  }
}