div.headingContainer div.metamorphContainer {
  height: 450px;
  width: 700px;
  background-color: red;
  display: grid;
  grid-template-columns: 30% 30% 1fr;
  grid-template-rows: 300px 150px;
  margin: 40px 40px;
}

/* children of main grid */

div.beforeContainer, div.afterContainer {
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div.metamorphContainer div.morphStats {
  background-color: darkgrey;
}

div.metamorphContainer div.descriptionContainer {
  background-color: yellow;
  grid-column: 1/4;
}
